.App {
  text-align: center;
}

.header{
      height: 225px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background-color: #f5f4f4;
      -webkit-box-shadow: 5px 0px 21px #d4d0d0;
      box-shadow: 5px 0px 21px #d4d0d0;
      letter-spacing: 5px;
      color: #6E0908;
      position: fixed;
      width: 100%;
      top: 0;
}

.main{
  margin-top: 250px;
}
.invisible{
  display: none;
}
.visible{
  display: block;
}
.middle{
  margin-top: 250px;
}
.top{
  margin: 0;
}

@media all and (max-width: 638px) {
  .header {
    height: 390px;
  }
  .main{
    margin-top: 429px;
  }
}