
.title{
    margin: 15px;
    font-size: 73px;
    color: #6E0908;
}

.subtitle{
    margin: 0;
    font-size: 36px;
}

.input{
    margin-top: 18px;
    width: 250px;
}


@media all and (max-width: 638px) {
    .title {
        font-size: 43px;
    }
   .subtitle {
    
       font-size: 19px;
   }

}
